[2013-05-15 12:52] Colir opened #1 "doesn't work"
Hi,
i've this error on loacl and online
'vjs is not defined'

thanks

[2013-07-14 15:25] #1 closed, assigned to nobody

[2013-10-01 15:37] thewebsitedev opened #2 "WordPress Plugin Conflict"
I am using videojs in WordPress and there seem to be a conflict with one of the plugins I have activated in WordPress.

I am using youtube and vimeo videojs plugins and the conflict seem to affect youtube and vimeo videos only when using videojs 4.2.1. Faced similar problem in 4.1 version.

![screen shot 2013-10-01 at 8 27 12 pm](https://f.cloud.github.com/assets/4481867/1246147/debce05c-2aa9-11e3

[2013-10-06 09:04] #2 closed, assigned to nobody

[2013-10-27 08:02] benedikt-buchert opened #3 "Getting errors for the vimeo plugin."
The vimeo plugin works well so far. But it gives me a console error when loading the Video. I think it is some change at the Vimeo api. I can't figure out what it is exactly. The variables are kind of cryptic to me.

![bildschirmfoto 2013-10-27 um 08 56 48](https://f.cloud.github.com/assets/3420538/1415121/ed8aac48-3edd-11e3-99db-0101bd354d67.png)

[2013-11-15 17:58] amit777 opened #4 "Updating from 4.1.0 to 4.3"
Hi, thanks for updating the vjs youtube plugin. Would it be possible to do the same for the vimeo plugin as well?

[2013-11-15 21:02] #4 closed, assigned to nobody

[2013-11-15 21:02] #3 closed, assigned to nobody

[2013-11-27 14:27] weareburo opened #5 "Demo not working - Jsfiddle Sample"
The demo is not working on local, can u provide a jsfiddle demo.
Youtube work but not the vimeo sample

http://jsfiddle.net/swinginsam/NWbUG/

[2013-12-10 13:57] nicobrinkkemper opened #6 "Vimeo in videojs is broken for me"
A quick list:
- When I change volume with the volume() setter I get: "Cannot set property 'volume' of undefined"
- It does not show any controls, only a vimeo playbutton and fullscreen button. I have read that I can't hide the vimeo controls, but atleast give a progressbar or something.
- Does not start muted when given the muted option, it can be muted however, with the muted() setter

I could sp

[2013-12-11 13:06] #6 closed, assigned to nobody

[2013-12-19 10:25] Joera opened #7 "API calls"
Hi!

I am using both your youtube and vimeo extentions. They're great. Many thanks for your work.

Youtube works perfect. I can manipulate css through the API calls at play or pause. The API calls with Vimeo do give me a little problem. I call 'm like this

videojs('vid<?php echo $count; ?>', { "techOrder": ["vimeo"], "src": "https://vimeo.com/<?php echo $embed; ?>" }).ready(function() { <<>> });

[2013-12-26 23:51] pdias opened #8 "Progressbar"
Hello,

This was commented in https://github.com/eXon/videojs-vimeo/issues/6, but I think this is possible...

![sem ttulo](https://f.cloud.github.com/assets/1615884/1812662/2225754e-6e88-11e3-9e33-b55fd640d8c0.png)

This was done with the https://github.com/travist/minplayer .

Can you help me to just show the progress bar?

Thanks,

Paulo

[2014-01-07 10:31] timgluz opened #10 "[enhancement] Add missing bower.json."
#### Hey, maintainer(s) of eXon/videojs-vimeo!

We at [VersionEye](https://www.versioneye.com/signup?promo_code=BOWER) are working hard to keep up the quality of the bower's registry.

We just finished our initial analysis of the quality of the Bower.io registry:

**7530** - registered packages, *224* of them doesnt exists anymore;

We analysed **7306**  existing packages and  **1070** of them don

[2014-01-22 10:11] universaldenmark opened #11 "Hide share, save for later and and like"
Is it possible to hide the 3 icons in the top right corner?
And if possible also the Vimeo logo title and such. I'm going to use it with a business account, so I should be allowed to do this according to the terms.

Alternative hide all Vimeo-player-code, and use VideoJS "natively" but still use your code to connect the player

[2014-02-03 12:20] mkoehler2911 opened #12 "Events won't work on IE8"
Hi!
I wanted to play and pause vimeo videos with videojs events (play(), pause()).
Everything works fine on chrome, firefox, opera, safari and ie 9-11. But on ie8 these events won't work for vimeo.

Please help!
Thanks

[2014-02-19 23:30] karlazz opened #14 "Can't make it work."
The sample doesn't work.  And then, now I see it works in Chrome and Safari. But not in the latest Firefox on Maverick OS.  Rats.

[2014-03-10 12:08] massivebam opened #15 "Switching between Vimeo and Youtube."
Hi eXon,
This is not really and issue but more of a question.
I'm using your videojs-vimeo and videojs-youtube plugins together and I'm trying to switch between Vimeo and Youtube videos.
I tried several ways and short of disposing of it and re-initializing it, I haven't been very successful.

Among other things, I've tried to set the techOrder in the <video> tag to ["vimeo", "youtube"] and that di

[2014-03-30 23:46] Globegitter opened #16 "fullscreen event not triggering"
I have been trying to implement this plugin on my website now and while I can add event-listeners for 'play', 'pause', etc if I add one for 'fullscreenchange' it doesn't fire.
Any idea how that could be fixed?

Edit:
`$(document).on("webkitfullscreenchange mozfullscreenchange fullscreenchange", function());`
works though

[2014-04-08 20:59] alanapplyby opened #17 "Android Fullscreen"
I'm using the plugin to play videos on an Android device, I understand that it is not possible to play the videos inline, only fullscreen. I can live with this but if you interrupt the video and close the pop up/out the video holder is black, if you tap the video it plays but only sound works.. no video.

Thank you.

[2014-05-12 15:27] mkoehler2911 opened #19 "Update for VideoJs 4.5"
I'd like to ask if there will be an update for videoJs Version 4.5 for videojs-vimeo.

Thanks

[2014-05-24 08:40] NeoCsatornaja opened #21 "Plugin Dosen't loading"
Hy!
I tryed this plugin, but just dosen't load the video js.
When you type a Vimeo url, you get the  default vimeo player.
Try it with test html, becouse this also doen't work.

[2014-05-24 09:17] #21 closed, assigned to nobody

[2014-05-31 14:20] seantempesta opened #22 "Using video.js controls and progressbar?"
Vimeo has changed their policy regarding hiding elements for embedded videos for PLUS and PRO members:

https://vimeo.com/help/faq_old/upgrading_to_vimeo_plus
https://vimeo.com/help/faq/sharing-videos/embedding-videos#how-do-i-customize-the-appearance-of-embedded-videos

Is there a way to enabled the videojs controls/progressbar?

[2014-08-08 04:28] ksonia90 opened #24 "how to change video from vimeo to local video (mp4)"
i'm new to programming and i really need help on how to dynamically switch vimeo video to local video if vimeo video is not working. here is my code http://jsfiddle.net/ksonia90/zxkz71k7/26/
please help :)

[2014-08-18 04:36] #24 closed, assigned to nobody

[2014-08-18 10:48] atikrahman146 opened #25 "Crome in mac, vimeo doesn't work."
It's showing black area and after refreshing three-four time it shows but most randomly.
data setup is like that:
<video id="vimeo_vid" src="" class="video-js vjs-default-skin" controls preload="auto" data-setup='{ "techOrder": ["vimeo"], "src": "http://vimeo.com/97726387" }'></video>

I keep both youtube and vimeo js. It's happening for both of them.

http://screencast.com/t/HXyXgtEif2jg

[2014-10-10 19:37] betterthanclay opened #27 "HTTPs check is broken"
There are two bugs on line 46. Firstly, document.location.protocol returns with the colon on the end, the check is missing the colon so always fails. Secondly, secure.vimeo.com doesn't work any more, it should always be player.vimeo.com.

To fix: replace line 46 with this:

this.baseUrl = document.location.protocol + '//player.vimeo.com/video/';

Tested and working on one of our production sites :

[2014-10-15 04:11] mishtershmart opened #29 "Support for VAST plugin?"
Hi guys,

Just wondering if support for the [VAST plugin](https://github.com/theonion/videojs-vast-plugin) is on the cards?

Apparently, the problem is caused by the lack of `currentSrc` implementation, which has been noted [here](https://github.com/theonion/videojs-vast-plugin/issues/16).

This would be an awesome feature!

[2014-11-09 18:30] adiwithadidas opened #30 "Example Given not working"
Example given in the folder is not working. I mean i am not able to see the skin in video instead video is playing with the default vimeo skin .

Thanks

[2014-11-10 02:04] #30 closed, assigned to nobody

[2014-11-10 18:40] jonathanong opened #32 "tag releases"
hi, can you tag releases so it's easier to use this as a dependency? thanks!

[2014-11-15 09:18] legarcon opened #33 "Captions / Subtitles"
Is it possible to load subtitles and streaming from vimeo same time? I figured it out for YouTube, but without vimeo support, video.js doesn't solve the same problem we have now with longtail videoplayer.
Thanks in advance.

[2014-11-18 19:08] #27 closed, assigned to nobody

[2014-11-28 16:57] prabhu opened #35 "Remove duplicate code block"
// Copy the JavaScript options if they exists
    if (typeof options['source'] != 'undefined') {
        for (var key in options['source']) {
            player.options()[key] = options['source'][key];
        }
    }

This block is repeated twice probably due to a merge error.

[2015-02-05 17:35] themicp commented on #12
I was facing the same problem and I found out that the iframe's onLoad event was never triggered on IE8 for some reason.
I created a PR fixing this: https://github.com/eXon/videojs-vimeo/pull/41 which I believe fixes your problems too.

[2015-02-23 14:42] mkoehler2911 commented on #19
There's videojs 4.11 now....

[2015-03-18 07:20] nightcoregirl opened #42 "How do I responsively size the video?"
This is pretty much right from your example that is sized by inline style http://jsfiddle.net/nightcoregirl/2v2jegy2/11/

I wanted to use this responsive embed plugin https://github.com/davatron5000/FitVids.js/ but it wasn't working out for me.

[2015-04-15 11:19] tomul opened #43 "Fullscreen in Chrome"
Hi,

I noticed that in Chrome, when you enter fullscreen, the vimeo player disappears, and the video just plays with the basic html5 player. Not sure if this is intended, but if you could share some light on this matter, i'd appreciate it. Example: http://jsbin.com/senodi/1/edit?html,js,output.

Thanks

[2015-04-24 10:44] tomul commented on #43
As an update: I noticed that the iframe is generated without these attributes: webkitallowfullscreen mozallowfullscreen allowfullscreen. I added them to the iframe, using jquery, and now the vimeo controls are kept in fullscreen.

Thanks

[2015-05-13 14:18] pgtaboada commented on #15
Same here. It was my understanding, that a plugin should only try to play if it matches the url. But both youtube and vimeo plugins play the source no matter what url.

Broken by design?

[2015-05-13 14:50] eXon commented on #15
I'll check that. It shouldn't be hard using a regex and the url.

[2015-05-13 14:56] pgtaboada commented on #15
I looked into the code, changed:

videojs.Vimeo.canPlaySource = function(srcObj){
  if (srcObj.type)
      return (srcObj.type == 'video/vimeo');
  else {
      var regExp = /^.*(vimeo\.com\/)((channels\/[A-z]+\/)|(groups\/[A-z]+\/videos\/))?([0-9]+)/;
      var match = srcObj.src.match(regExp);

      return (match)
  }
};

[2015-07-22 10:40] skeet commented on #10
+1

[2015-08-18 19:39] Ragnarokkr commented on #15
+1. Same problem here. Cannot mix Youtube and Vimeo videos.

[2015-08-20 14:09] andreabr commented on #43
Hi Tomul,

Could you explain how to do this, please ?

Thank you so much,

André

[2015-08-20 14:15] andreabr commented on #16
Hi, Globegitter,

Where should I put this code ?

Thanks,

André

[2015-08-20 14:17] tomul commented on #43
Just select the iframe and add the attributes. Something like this:

[code]

[2015-08-22 10:59] nppsbh opened #49 "Play/Pause button stop working"
Hi.
When using loop option as true, during the first playback every thing works as expected ( video.js play/ pause button is working ), but after the first loop video.js play/pause button stop working.
I am using Vimeo and Youtube plugins but this is only happening with Vimeo videos.
Mute/Unmute button is working on every situations.
Also is it possible to hide vimeo control bar?
Thank you.
UPDATE

[2015-08-22 11:56] nppsbh opened #50 "Permission denied to access property "toString""
Although it is working I am getting this error in console terminal:
Error: Permission denied to access property "toString"
Really appreciate all the help.

[2015-09-01 17:42] nppsbh opened #51 "Vimeo poster image"
Hi.
Is it possible to use Vimeo video default image as poster like in the youtube plugin?
If poster not defined use video default image as poster.
Thanks
Really appreciate all the help.

[2015-09-26 19:01] TwistGarrett opened #55 "Advanced Custom Fields to return a unique ID# and mobile"
Thanks for a great solution to using vimeo and video.js. I solved this already but wanted to post my solution in case someone else comes across it.

I'm calling the video URL and the unique ID with advanced custom fields, here is the code:

[code]

It works on desktop, but the second video loads broken on mobile. I have checked that the returned ID is actually unique and it is. I solved the issue

[2015-09-26 19:01] #55 closed

[2015-09-28 17:07] MichaelMcAlexander opened #58 "Cant get it to work"
I can not get my vimeo and videojs to work properly. Can I please get a code example. Lets just say my vimeo video id is 123456789. How would I implement this? I really need help and have posted this question to numerous sites with no good answers. I dont want to have to use vimeos player. I have a vimeo pro $199/yr account so I can use videojs. I look at laracasts.com as an almost exact example o

[2015-09-28 17:24] eXon commented on #58
I'll take a look and shoot you a working example this week. This plugin has not been updated for a while.

[2015-09-28 18:04] MichaelMcAlexander commented on #58
Thank you so much

Sent from my iPhone

[2015-10-13 18:54] diogoreus commented on #58
I second that issue, having some problems with vimeo integration in the 4.X versions of video.js

[2015-11-05 09:55] Gorli opened #60 "Video.js 5.0.2 and videojs-vimeo"
Hello!

Should Video.js 5.0.2 work together with VideoJS-vimeo. I do not get out that it works.

Many thanks

ps: it works with VideoJS-youtube

[2015-11-05 10:15] eXon commented on #60
This plugin has not been updated to VJS 5 and has no plan to do so in the near future. If you would like to contribute, PR are always welcome.

[2016-01-27 21:00] chrisbaswell commented on #60
I noticed that you are maintaining the youtube pluging with the latest version of VideoJS.  Any particular reason why the Vimeo plugin isn't getting any updates?  Just wanted to know if there was a limitation with the Vimeo API or some other "difficult to overcome" reason.

[2016-01-27 22:15] eXon commented on #60
Just lack of time. I barely have enough to update the YouTube one.

[2016-02-10 01:18] eXon commented on #60
The last version is now working with VJS5.

[2016-02-10 01:18] #60 closed

[2016-02-16 02:45] hendrathings commented on #51
New version has been release, YAY!
Yes, yes yes you can do by:

[code]

[2016-02-16 10:14] #5 closed

[2016-02-16 10:14] #7 closed

[2016-02-16 10:14] #8 closed

[2016-02-16 10:14] #10 closed

[2016-02-16 10:14] #11 closed

[2016-02-16 10:14] #12 closed

[2016-02-16 10:14] #14 closed

[2016-02-16 10:14] #15 closed

[2016-02-16 10:14] #16 closed

[2016-02-16 10:14] #17 closed

[2016-02-16 10:14] #19 closed

[2016-02-16 10:14] #22 closed

[2016-02-16 10:14] #25 closed

[2016-02-16 10:14] #29 closed

[2016-02-16 10:14] #32 closed

[2016-02-16 10:14] #33 closed

[2016-02-16 10:14] #35 closed

[2016-02-16 10:14] #42 closed

[2016-02-16 10:14] #43 closed

[2016-02-16 10:14] #49 closed

[2016-02-16 10:14] #50 closed

[2016-02-16 10:14] #51 closed

[2016-02-16 10:14] #58 closed

[2016-02-16 10:24] pgtaboada commented on #15
Is it fixed?

[2016-02-16 10:32] eXon commented on #15
There is a complete rewrite so you should try it

[2016-02-16 15:59] chrisbaswell commented on #60
Thanks!

[2016-02-26 17:00] Magiweb commented on #58
@eXon I'm also having a lot of problems with this plugin not working. I'm using VideoJS version 5.7. Your youtube plugin works flawlessly, but using the exact same code to instantiate a vjs/vimeo player just breaks constantly. It looks like maybe a race issue? I'm getting this error:

`
TypeError: a is undefined  - video.min.js (line 22, col 3904)
TypeError: a is undefined video.min.js (line 22, c

[2016-02-26 17:01] Magiweb opened #65 "Cant get it to work"
@eXon sorry I realised I commented on a closed issue, so I created this one.

I'm also having a lot of problems with this plugin not working; I'm using VideoJS version 5.7.

Your Youtube plugin works flawlessly, but using the exact same code to instantiate a vjs/vimeo player just breaks constantly. It looks like maybe some kind of a race issue? I'm getting this error:

`TypeError: a is undefined -

[2016-02-26 20:50] Magiweb commented on #65
@hendrathings I notice that you made the update to support version 5 - maybe you can shed some light on this? To replicate, initialise the script as normal, then dispose the player, and delete the <video> DOM element. Then create a new <video> dom element and try creating the videojs object using the videojs("id", {...}); method. I can shoot a video to show you how to replicate the problem if it h

[2016-02-27 07:20] hendrathings commented on #65
@Magiweb Have you use the new version `src/Vimeo.js` ?
and use
[code]

[2016-02-27 08:43] Magiweb commented on #65
@hendrathings thanks for replying. We're not instantiating the video like that - we're doing it via the videojs() function, like this:

`videojs("preview", {
                        techOrder: [ 'vimeo' ],
                        controls : true,
                        sources  : [
                            {
                                type: "video/vimeo",
                                s

[2016-02-27 09:17] Magiweb commented on #65
I tried a different approach for the find videos (which wouldn't solve the problem with the builder, but at least I was hoping it would in the Find Videos section of my app. Instead of rebuilding the DOM element, I simply tried switching out the source and triggering a "loadstart" on VideoJS:

[code]
Doing it this way, the video player doesn't break, but the source is not replaced with the new one

[2016-02-29 14:35] Magiweb commented on #65
@hendrathings is there any chance this can get resolved? And ideas on what the issue is?

[2016-03-01 02:11] hendrathings commented on #65
please wait, I still figure out :)

[2016-03-03 18:14] howells opened #67 "Importing videojs-vimeo using ES6"
I'm trying to import videojs-vimeo as an ES6 module, which works great with the videojs-youtube plugin but not this. I tried emulating the code in the videojs-youtube script but am not very very far! What do I need to do?

[2016-03-03 19:07] eXon commented on #67
I need to make sure it is compatible with CommonJS / RequireJS. I'll try to fix it when I have a few minutes.

[2016-03-03 19:07] howells commented on #67
That would be *amazing* :-) thanks

[2016-03-04 14:37] kamil7x opened #68 "Second initialization fails"
Hi

I have a problem with ajax-loaded videos. When i am loading bunch of videos, I am initializing them using videojs function.

For each element (using jQuery.each()):

[code]

And this is working for Youtube videos.
But for video from Vimeo, after first videos are loaded, when I click Load more (it gets new HTML from server and runs code, I wrote above on this HTML), I have an error in console:

[2016-03-04 19:21] eXon commented on #67
Should work if you use 2.0.1.

[2016-03-04 19:21] #67 closed

[2016-03-05 00:41] howells commented on #67
Awesome!

Only prob I'm getting now is `Uncaught ReferenceError: $ is not defined` on line 104; not sure how to get around that (sorry, am a noob)

[2016-03-06 09:23] Magiweb commented on #68
@kamil7x I think your issue might be related to the issue I raised here: https://github.com/eXon/videojs-vimeo/issues/65. It's similar because when I try to dynamically create an element and initialise VideoJS using this plugin it breaks. Also switching / adding sources dynamically appears to be an issue.

@hendrathings has pushed an update a few days ago, but it doesn't seem to be merged yet, alt

[2016-03-06 09:27] Magiweb commented on #65
@hendrathings and @eXon it looks like some work's been pushed into this, but I'm not sure which update to use? There's a pending pull request, but there's also been a version update thereafter; which one is the fix? Does the master branch have the fix, or do I try hendrathings's local branch?

I appreciate the work you're doing with this guys - thanks!

[2016-03-07 22:41] raymestalez opened #69 "npm ERR! missing script: build"
Hi! When I'm running npm run build I'm getting an error:

`npm ERR! missing script: build`

Can you help me out?

Or maybe it would make sense to just compile vimeo.min.js and make it available for download, so that people could just download it?

[2016-03-15 12:54] samueldjack opened #70 "Video displayed outside of player frame"
I've just discovered an interesting bug: if I set fluid: true in videojs data-setup options, the Vimeo video displays outside of the videojs player frame, like this:

![image](https://cloud.githubusercontent.com/assets/837684/13778393/617b13cc-eaad-11e5-9477-07d3f2b25885.png)

This doesn't happen with YouTube videos when fluid: true is set.

[2016-03-15 12:56] albi commented on #70
Had the same issue, made a hotfix with CSS:

`.vimeoFrame {
	position: absolute !important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
`

[2016-03-15 13:00] samueldjack commented on #70
That fixed it. Thanks!

[2016-03-15 13:02] albi opened #71 "Can't get the plugin it to work, Youtube works fine, but not Vimeo…"
Hi,

got a problem with the vimeo plugin for videojs. The vimeo videos won't load. I think this is not an issue with my code, as I used a stripped down example from videojs and added the plugins as it was explained in the readme.

http://alexanderalbrecht.ch/video-js/index.html Youtube videos work as intended
http://alexanderalbrecht.ch/video-js/index-vimeo.html Vimeo videos won't load

kind regar

[2016-03-15 15:02] Joeao commented on #71
Which version of VideoJS are you using?

[2016-03-15 16:20] albi commented on #71
Version 5.8

But there is another problem with the vimeo plugin too, maybe this is related to https://github.com/eXon/videojs-vimeo/issues/70

[2016-03-18 15:22] howells commented on #67
Sorry to chase, wondered if you knew what I might be doing wrong? I'm importing like so:

[code]

[2016-03-21 15:48] craigstar opened #72 "video won't play on mobile devices"
I tested on desktop(chrome and safari), both of them worked well. However, my iphone 6 and android Mi can not play the video. I can see the poster picture and big play button. but nothing happens when I click play button in my iphone 6. Things are slightly different on android. The default video player pops up when I click play button, but nothing can be loaded, keeps 0%. And my youtube videos wor

[2016-03-21 23:20] mikemcguire commented on #72
Im having similar issues but android chrome is working. I don't see any JS error message in console when testing iOS.

[2016-03-22 15:22] craigstar commented on #72
@mikemcguire you're right! But it uses vimeo control(android chrome). videojs was disabled

[2016-03-22 15:45] mikemcguire commented on #72
@craigstar  yeah I looked into it for a while last night. There are still issues with the vimeo API that abstracts the play functionality in such a way that it can't be triggered by a button outside of it's iframe. Essentially iOS will block videos that aren't played via a user interaction. Somehow, somewhere that interaction gets lost in the Vimeo API. Im going to fork and see if I can't just get

[2016-03-22 17:55] craigstar commented on #72
another issue found. With dynamical creating, disposing video elements, it works for the first time. but it throw me an error at the second initiation. `Uncaught TypeError: Cannot read property 'vdata1458668645722' of undefined` at `function getElData(el) {` in video.js.

[code]
[code]

First use the code above to create an video, then dispose(), then create again. error comes.

[2016-03-22 18:24] mikemcguire commented on #72
You should open two issues for separate bugs.

[2016-03-22 18:30] craigstar opened #73 "errors at re-initializing vimeo videos after dispose()"
With dynamical creating, disposing video elements, it works for the first time. but it throw me an error at the second initialization. `Uncaught TypeError: Cannot read property 'vdata1458668645722' of undefined` at `function getElData(el) {` in video.js.

[code]

[code]

First use the code above to create an video, then dispose(), then create again. error comes.
 `video-youtube` works well. No luc

[2016-03-22 22:05] nowned opened #74 "Vimeo.js: Cannot read property 'getJSON' of undefined"
Getting this error when trying to use a Vimeo embed
`Vimeo.js:94 Uncaught TypeError: Cannot read property 'getJSON' of undefined`

Code is embedded like this
`<div data-setup="{ "techOrder": ["vimeo"], "sources": [{ "type": "video/vimeo", "src": "https://vimeo.com/153836040"}] }" class="video-js vjs-sublime-skin vjs-paused project-video-dimensions" id="project-video"></div>`

Here are my versions.

[2016-03-24 10:56] pikilon commented on #73
+1

[2016-03-24 11:42] pikilon commented on #68
+1

[2016-03-24 13:46] craigstar commented on #73
@pikilon unfortunately, I haven't found any solution. Just stopped using `videojs-vimeo`

[2016-03-24 17:20] Magiweb commented on #73
@craigstar I found that if I re-created the <video> DOM element and then instantiated VideoJS on that element it would work again.

[2016-03-24 17:24] Magiweb commented on #65
@hendrathings your bug-fix version works WAY better, thanks!

The only thing that's still not working on that version so far for me is the ability to change source on-the-fly, so I can't "string" more than 1 video together like a playlist. I have to dispose() and re-create the <video> DOM element and the videoJS object. Still something I hope you will fix that at some point.

[2016-03-24 19:09] craigstar commented on #73
Thank you! @Magiweb, `https://github.com/hendrathings/videojs-vimeo/tree/bug-api` has fixed this bug. However, I can not implement `videojs-vimeo` cause its not working on mobile devices. `https://github.com/eXon/videojs-vimeo/issues/72`

[2016-03-24 19:11] craigstar commented on #73
@pikilon you could try this ` https://github.com/hendrathings/videojs-vimeo/tree/bug-api`

[2016-03-24 19:37] pikilon commented on #73
Sorry but din't work out for me.
I recreated the dom ( I make a dispose, later a empty() or html("") the parent tag), set the variable to null and re-add the html video tag with the same id to later on videojs("theID", params, callback) and didn't work out.
"TypeError: Cannot read property 'vdata1458847063210' of undefined"

[2016-03-25 11:15] pikilon opened #75 "Change SRC fail"
Because reinitialize fails I tried to reuse a different players for each source (youtube, vimeo...)

But I change myplayer.src("new video link") and it simply ignore it.

Am I doing something the wrong way?

[2016-03-31 04:51] twig commented on #73
Also having issues with dispose() not working correctly

[2016-03-31 07:36] Magiweb commented on #75
@pikilon this is definitely a bug with this plugin - dispose doesn't do a proper cleanup. https://github.com/eXon/videojs-vimeo/issues/73

[2016-04-06 00:10] twig-openlearning commented on #72
Also experiencing a problem with this.

Can't choose between Vimeo "firstplay" not working on videojs 4.x or iOS playback broken on videojs 5.x

[2016-04-06 01:09] mikemcguire commented on #72
To overcome it is to bring back the vimeo controls and hide videojs controls on mobile. If you have a pro vimeo account you can further customize the vimeo controls.

[2016-04-08 13:27] albi commented on #71
Still having problems with VideoJS 5.8.8

[2016-04-18 10:29] IJsLauw commented on #74
Same problem here... seams the url has changed or is different for hidden video's?

[2016-04-28 07:34] gor181 commented on #74
It depends on global jQuery...
http://prntscr.com/axsl57

Adding jQuery as global dep will solve this.
It should support jQuery as module as it's doing now for video.js

[2016-04-29 14:45] floodedcodeboy opened #77 "Why vimeo no autoplay?!"
Have tried the example with another vimeo video and the video does not autoplay. 👎

[2016-04-30 12:48] gino8080 commented on #70
@albi Great!!

this css should merged so I think this can be closed!

[2016-04-30 15:33] gino8080 commented on #75
+1 for this

[2016-04-30 16:30] gino8080 commented on #77
same here :(

[2016-05-04 08:30] stevermeister opened #78 "Is there actual example online?"
for now local example did not work for me.

[2016-05-09 16:32] zackurben commented on #75
@pikilon @Magiweb @gino8080 You can use my version of the plugin: https://github.com/zackurben/videojs-vimeo

I fixed this issue, and I've been updating my PR: https://github.com/eXon/videojs-vimeo/pull/76
but it doesn't look like it'll get pulled in (due to inactivity).

[2016-05-10 17:27] asalisbury commented on #77
I haven't taken the time yet to root out the cause, but I noticed that `muted` attribute gets ignored as well. You could temporarily implement autoplay (and muted) like this:

[code]

[2016-05-11 04:52] gkatsev commented on #69
I think that the build script is unfortunately missing from the package.json. Probably can be copied over from videojs-youtube.

[2016-05-13 04:07] prock13 opened #79 "Add Event Listener to Video End"
Is there a way to add a listener to the end of the Vimeo video play?  I've tried multiple ways but cannot seem to fire anything once video finishes playing.

[2016-05-13 05:25] gkatsev commented on #79
I would assume it should fire an `ended` event like everything else in videojs but if it doesn't do that, it could be a bug.

[2016-05-13 09:44] pietrovismara commented on #73
+1
This is a serious problem

[2016-05-13 10:09] pietrovismara opened #80 "Broken video positioning and controls settings"
i'm setting the options this way:
[code]

When i start a video what happens is this;
![vimeo_rotto](https://cloud.githubusercontent.com/assets/9806520/15244708/c619fca2-1902-11e6-8c27-d2aad39e78f2.png)

The positioning is broken, and vimeo controls are still there.

Also if i switch on full screen, the vimeo video size stays the same, and the effect is pretty ugly:
![vimeo_rotto1](https://cloud.gi

[2016-05-13 12:24] pietrovismara commented on #80
The problem was with our css, so i'm closing the issue

[2016-05-13 12:24] #80 closed

[2016-05-14 02:14] prock13 opened #81 "Vimeo Parameters"
The Vimeo Parameters link is not working: https://developers.google.com/vimeo/player_parameters?hl=en#Parameters

What are the options for ytcontrols?

Is there another link that has this info?

[2016-05-23 22:25] prock13 commented on #72
@mikemcguire How do I go about doing this?: "To overcome it is to bring back the vimeo controls and hide videojs controls on mobile. If you have a pro vimeo account you can further customize the vimeo controls. "

[2016-05-23 22:37] mikemcguire commented on #72
@prock13 It's been like a month and a half so I couldn't tell you exactly. If you start inspecting with developer tools you can see that the vimeo controls are being hidden with a variety of CSS & JS. Once you can find which elements are being hidden you can find the code manipulating them by searching this plugin with their class selectors. Then just making that conditional based on mobile/deskto

[2016-05-25 18:14] gino8080 commented on #75
@zackurben how to use the change video source?

thank you!

[2016-05-25 21:00] gino8080 commented on #75
ok got it in the example ! :)

is it possibile to listen for the "is ready after changed src" to make it autoplay?

thank you very much!

[2016-06-01 20:08] arnoldsandoval commented on #81
+1

[2016-06-02 00:59] cemerson commented on #72
I'm also hoping for a solution here. So frustrating that YouTube works fine on iOS but Vimeo doesn't. If anyone finds a working hack/solution please chime in!

[2016-06-02 23:09] NemSavic commented on #72
It looks like the issue is that the Vimeo API does not support the Play event on mobile. https://developer.vimeo.com/player/js-api#compatibility

[2016-06-02 23:28] mikemcguire commented on #72
@cemerson @NemSavic we've already discussed the cause and a possible solution. Unless you're submitting a PR I think it's safe to not send additional redundant emails to everyone.

[2016-06-02 23:32] mikemcguire commented on #72
Also just to make it easier for everyone coming to this thread. If you don't want to build in the showing of Vimeo controls into this plugin yourself you can still embed a regular vimeo video and this videojs video and show/hide with CSS & media queries, it's just no elegant or scalable.

[2016-06-03 03:29] NemSavic commented on #72
@mikemcguire wow did @cemerson's bump to long running issue and my elaboration on what was previously stated as "issues with the Vimeo API" really warrant down votes?

I understand that the Vimeo controls are hidden on mobile devices, however being able to surface them is a separate issue. In my opinion the real issue is that no control UI, including the one packaged with videojs, will work on mob

[2016-06-03 03:41] mikemcguire commented on #72
@NemSavic sorry I'm not active on github but a thumbs down is fairly meaningless to me. But ultimately this isn't a problem caused by this library. I was able to get this to work on android and ultimately presented an issue with iOS. It would be bad practice to do a specific mobile check because what is mobile is arbitrary and it would be even worse practice to test for iOS within the library. It'

[2016-06-03 03:43] mikemcguire commented on #72
@NemSavic if it would make you feel better I can try and un-thumbs-down your comment

[2016-06-03 03:56] zackurben commented on #75
@gino8080 sorry for the late reply. After you change the src, you should be able to start playing it:

[code]

or, if you have the autoplay option enabled, it should autoplay when the src is changed: https://github.com/zackurben/videojs-vimeo/blob/master/src/Vimeo.js#L277

let me know if you get it working.

[2016-06-03 04:49] NemSavic commented on #72
@mikemcguire I don't think that a limitation to the API can be filed as a bug with Vimeo.

What would be helpful is including something like a list of compatibility issues to the readme. As it stands right now videojs by itself is compatible with all devices. It is very unlikely for someone working with videojs not to expect the same from this library. If having the compatibility clearly stated in

[2016-06-03 04:57] mikemcguire commented on #72
@nNemCavic well you were the one who posted the link to Vimeo admitting they don't support mobile in their api. And I can can firm it works for android. It's pretty cut and dry. If you understand the technologies in hand it's clearly evident that this plugin isn't what needs to fix itself.

[2016-06-03 05:00] NemSavic commented on #72
@mikemcguire we'll have to agree to disagree :smile:. If you're tired of getting emails to this thread with people's questions/ideas/resolutions you can always unsubscribe.

[2016-06-03 05:04] mikemcguire commented on #72
Well if you provide a valid argument which states the bug in this plugins implementation I'll submit the PR myself.

[2016-06-03 05:10] NemSavic commented on #72
Calling an API expecting it to X, when it doesn't even claim to do X. That's not a valid argument?

[2016-06-03 05:17] mikemcguire commented on #72
Expecting a library to conform to proprietary edge cases that don't conform to the html5 spec isn't a justifiable . Especially when there isn't a best practice way of solving the issue. But hey if there is something I'm not considering, there's the beauty of open source and fixing it yourself. I've already dug in the code and made it conform to my standard of mobile. But because there is no univer

[2016-06-03 05:30] NemSavic commented on #72
Do you have a solution or should we all just wait to see if Vimeo ever updates their API?

[2016-06-03 15:20] gkatsev commented on #72
Ok, this no longer seems like a productive discussion.
We should add a "this plugin works wherever vimeo's api works" with a link to the above page to the README.
However, we should see whether we can get it to work another way. Maybe the best solution is on ios to disable our controls and only use the native (or even just vimeo) controls.

[2016-06-03 15:55] NemSavic commented on #72
@gkatsev I totally agree. When I mentioned graceful degradation earlier I was thinking of forcing the native Vimeo controls on mobile. In the commit I made earlier I set `ytControls` whenever it's running on mobile, but I wasn't able to figure how to also disable the videojs controls from within the plugin itself.

For my use case simply setting controls to false when running videojs was good enou

[2016-06-03 16:01] gkatsev commented on #72
I'll try and take a look at this next week. Super busy right now with other more pressing issues.

[2016-06-05 22:50] twig-openlearning commented on #72
Rather than removing support for mobile in general, can't we serve the file directly and let videojs handle the controls?

You can get the direct link to the source video via the URL pattern `http://player.vimeo.com/video/<video_id>/config`. I've been looking into this as a workaround because of the inactivity in this issue regarding mobile fixes.

More info at http://stackoverflow.com/a/23045421

[2016-06-06 02:19] gkatsev commented on #72
Using the direct video url is a possibility, though, right now videojs-vimeo is basically a wrapper around the vimeo player so, we'd have to think more if videojs-vimeo should be doing the work of extracting the direct player url or just the user of videojs/videojs-vimeo.

[2016-06-06 02:21] gkatsev commented on #72
Actually, reading that SO posting, it seems like it requires an XHR call to vimeo, however, that requires CORS headers to be enabled and they don't have it.
Also, vimeo doesn't officially recommend or support this method which is definitely a huge minus.

[2016-06-06 05:32] twig-openlearning commented on #72
We're getting a lot of mobile users complaining about the inability to play videos so there's not much to lose on our end by using the /config/ url for the time being until Vimeo decides to fix their API.

[2016-06-06 15:11] prock13 commented on #72
I would really appreciate someone that can help me come up with a workable solution.  I'm trying to use this with the ima ads plugin and the only thing preventing me from launching the project is that all our videos are on Vimeo Pro and 80% of our users are mobile!

[2016-06-06 15:53] cemerson commented on #72
@prock13 have you tried what twig suggested earlier (using the /config url)? I'm actually planning on trying it out myself soon because I have a similar need for a Cordova/Phonegap app I'm working on. I'll report back with how it works. Please share if you come to any conclusions/findings on your end as well.

[2016-06-06 18:51] prock13 commented on #72
@cemerson I have not had a chance to try that...hopefully will be able to in the next couple of days.  I'm thinking though, that @gkatsev may be right it we may have CORS header issue.

[2016-06-06 20:33] mikemcguire commented on #72
Yeah I feel like I tried that w/o the vimeo plugin and hit the CORS issue, although it's been a while and not sure why I went away from that route. I ended up just tweaking to default to vimeo controls on mobile by tweaking the injectCSS method and adding an _ismobile helper method, which is more or less superficial, I'm not unbinding events or properly calling the player API to hide/show control.

[2016-06-06 20:38] gkatsev commented on #72
No, techs do not have a reference to the player itself currently.

[2016-06-09 22:08] prock13 commented on #72
Ok so after thinking about this some more, in my case we are using Vimeo Pro and when we upload videos, there is an tab in the Vimeo admin that provides links to all the MP4s of the video in the different quality/sizes (see attached image).  I tested with that link and in that case I don't even need the Vimeo plugin since it's just the url source of an mp4.

So this solution works, as a stop gap s

[2016-06-17 23:54] onigetoc opened #82 "Not a issue But suggestion for Vimeo with Videojs 5+"
The Vimeo plugin do not work with the latest Videojs 5+.
It would be great to do a Vimeo plugin based on your Youtube plugin.
There's a api for Vimeo
[https://developer.vimeo.com/player/js-api](url)
Here a way to remove with css all Vimeo Control.
[http://www.cssplay.co.uk/menu/cssplay-vimeo-hide-control-bar.html](url)
Vimeo API example.
[https://github.com/vimeo/player-api](url)

[2016-06-24 16:52] chrisbaswell opened #83 "Works but showing a 404 in console"
![screen shot 2016-06-24 at 11 41 53 am](https://cloud.githubusercontent.com/assets/801686/16344176/efa9058a-3a00-11e6-8ec1-3a6426232d10.png)

Not really sure what's happening.  The video loads correctly but I was getting the same results as #70.  Adding the CSS works but I think the problem may lie in the 404 error I'm receiving.  Maybe it's trying to load the video twice and taking up additional

[2016-07-01 03:13] rw3iss opened #84 "Example fails after build"
Have all the files being included properly, network tab shows they are downloaded correctly.
Initialization throws these errors:

Vimeo.js:39 Uncaught TypeError: videojs.getComponent is not a function(anonymous function) @ Vimeo.js:39(anonymous function) @ Vimeo.js:26(anonymous function) @ Vimeo.js:28
3video.js:59 Uncaught TypeError: Cannot read property 'S' of undefined

I've tried to use both th

[2016-07-05 20:59] mihayee commented on #71
Hi I came across the same problem after installed the latest version of video.js and vimeo.js.

[2016-07-07 04:31] brewern commented on #72
@NemSavic your patch worked great! I made an addition to hide the play button and the poster we provide through VideoJS.

[2016-07-07 06:25] mina64 opened #85 "How to integrate this videojs-vimeo plugin with pre-roll vast!?"
Hello Everyone,
Could you please help me to integrate this plugin with Vast pre-roll (Video ad from DoubleClick).

Thanks

[2016-07-07 23:40] nOurs88 commented on #15
Hi @eXon

I have the same problem. Impossible to mix correctly youtube and vimeo.

When I want to switch between providers I have 2 videos in same time.. Maybe I hace to remove html wrapper of iframe youtube/vimeo before to load a new video but i dont know if is the good way. Can you help me ? Thx

- videojs 5.10.4
- youtube plugin : https://github.com/videojs/videojs-youtube
- vimeo plugin: https

[2016-07-07 23:43] gkatsev commented on #15
Yeah, unfortunately, it's a known issue. We just fixed in videojs-youtube. We'll release it soon and also fixup videojs-vimeo with that as well.

[2016-07-08 09:18] nOurs88 commented on #15
hi @gkatsev

Thx for your feedback ! Can you tell me how long before the release ? I would like to know if I have to try to fix it by myself meanwhile the releases ? Maybe next week ? :p

[2016-07-08 15:15] gkatsev commented on #15
I hope to have a videojs-youtube release today.

[2016-07-08 15:52] gkatsev commented on #15
videojs-youtube 2.1.0 is now out with a fix for the switching problem. videojs-vimeo may need a similar fix itself but that'll come after.

[2016-07-09 12:41] nOurs88 commented on #15
@gkatsev thx for your feedback

[2016-07-22 19:05] Malmoc commented on #84
Running into the exact same issues. Can't wait for a fix.

[2016-08-09 20:31] glpunk commented on #84
Same Issue

[2016-08-09 21:30] glpunk commented on #85
Did you found any solution? same problem here. I tried to integrate vast plugin for videoJS but both together doesn't work.

[2016-08-10 03:09] mina64 commented on #85
Hey Glpunk,
Yes, I found solution for my problem finally after days investigation so I can share my code with you. please send email to phpcodeclinic@gmail.com, I will forward you zip file that contains my solution with source code :)

[2016-08-10 04:31] mina64 commented on #85
Hey Glpunk,
Yes, I found solution for my problem finally after days investigation so I can share my code with you. please send me your email address here.

[2016-08-10 12:37] glpunk commented on #85
HI @mina64 thanks for your fast response.

My email is the same username here AT gmail

Thank you!

[2016-08-10 13:34] Malmoc commented on #85
@mina64 - Could you share your code with me too? My email is malmocdk AT gmail.com

[2016-08-10 13:42] mina64 commented on #85
I just sent you but note that we can not customize Vimeo Player that's why you need to use direct file link for vimeo video, you can find direct file link in your vimeo video settings.

[2016-08-10 13:43] mina64 commented on #85
Sure Malmoc I am going to send you now

[2016-08-10 13:47] mina64 commented on #85
malmoc@gmail.com not working

[2016-08-10 13:48] mina64 commented on #85
@glpunk glpunk Please confirm if you got the file. Thanks

[2016-08-10 13:50] mina64 commented on #85
malmocdk worked, please confirm if you got it.

[2016-08-10 13:52] mina64 commented on #85
Enjoy it!

[2016-08-10 13:53] mina64 commented on #85
I have to run so please if you send me any message, be patient! Thanks

[2016-08-10 14:08] glpunk commented on #85
@mina64 Got the file, thank you! I will check soon.

[2016-08-10 14:36] mina64 commented on #85
Okay Cool, Please let me know if it solved your issue. Thanks :)

There is a file Ads.js that you can put your own video ad tag url, for test purpose, I used DFP default video tag link.

[2016-08-11 12:53] glpunk commented on #85
HI @mina64

The code is working fine thank you!, works with my vast server as well (is not doubleClick).

BUT, you're getting the video as mp4 directly from vimeo, I would Like to playback with m4s chunks as the vimeo plugin do, as vimeo works actually.

I will try to use THIS ad-server code with the vimeo-plugin, maybe will work!

[2016-08-11 13:05] mina64 commented on #85
Correct, As I mentioned earlier, Vimeo doesn't allow anyone to modify its player so the only way to intgrate Vimeo videos with ad services, is to use Vimeo Video Direct File Links which is in mp4 format and put it in our player (in my case, video palyer is VideoJS).

VideoJS is very powerful as we can fully customize it.

Please let me know if you need my help.

[2016-08-14 07:28] monstrfolk commented on #73
Spent all night trying different forks for this issue. Found a fork that work and had the CSS strange. I forked and fixed the CSS.

https://github.com/rjgb/videojs-vimeo

[2016-08-14 08:07] twig commented on #73
Found a solution which seems to be working for us.

The cause of this bug is dispose() actually removes the mount element of videojs. So when we try to re-initialise videojs/vimeo, it fails.

Simply recreating the element/mount point will fix this issue.

[2016-08-16 11:50] justtobeok opened #86 "Conflict with Vimeo HTML5 Player API - Migration Attempt"
Hey,
I am trying to migrate this plugin to the new Vimeo Api.
https://github.com/vimeo/player.js

The first Part does not seem to be a problem, I am able to change all the Events an Methods, rename the Vimeo Constructor and throw out the Froogaloop API.

For some reason as I change
`self.vimeo = $f(self.iframe);`  to
`self.vimeo = new Vimeo.Player(self.iframe);`
I get an error "Cannot read propert

[2016-08-16 16:49] Tresky commented on #73
@twig How do you mean when you say recreate the mount point?

[2016-08-16 22:41] twig commented on #73
For example, you use `<div id="x"/>` as your mount point for VJS, `var vjs = $('#x').videojs();`.

When it's disposed via `vjs.dispose();`, the div is actually removed as well. You need to create a NEW `<div id="x"/>` in the same place before calling `$('#x').videojs()` again.

[2016-08-25 06:00] janxalot commented on #74
How do you suggest adding jQuery as a global dep?

I have the original video.js working, however I am receiving the same error message as original post.

[2016-08-25 07:18] janxalot commented on #74
I have jQuery added as a global dependency for a project I am working on and I am still encountering this error message.

The default video.js package works fine, just trying to use the vimeo add-on returns the error.

Any ideas?

[2016-08-26 22:40] designerwhocodes opened #88 "where do I download ../dist/Vimeo.min.js"

[2016-08-26 22:45] designerwhocodes commented on #88
With the Vimeo.js file I'm getting this error also. Vimeo.js?ver=1.0.0:94Uncaught TypeError: Cannot read property 'getJSON' of undefined

[2016-08-30 14:37] BrandonOCasey commented on #88
seems like this file is actually located in `lib/vimeo.min.js` rather than `dist`. Also the issue with getJSON seems to be the same issue as #74, which might be an issues with the version of jquery being used or something that has yet to be determined. If you have any other questions feel free to re-open this issue

[2016-08-30 14:37] #88 closed

[2016-09-06 01:09] jeanmichelcote opened #89 "This tech looks outdated."
Just seen #86 .
Good thing.

[2016-09-06 01:14] #89 closed

[2016-09-06 01:15] jeanmichelcote commented on #86
How is the migration going? Still working on it?

[2016-09-06 10:28] justtobeok commented on #86
I fiddled around quite a bit, but with time running out I decided to take one step back, throw out the whole video.js part and then went with plyr https://github.com/Selz/plyr

[2016-09-06 12:56] jeanmichelcote commented on #86
I just checked it out. The thing is that Plyr uses the old Froogaloop API for dealing with Vimeo. Same as Video.js.

I believe I'll go ahead and directly use the new vimeo API on a vimeo pro account...

[2016-09-06 15:00] justtobeok commented on #86
No it does not, when you look at the code, in line 155 plyr loads the new API:
https://github.com/Selz/plyr/blob/master/src/js/plyr.js#L155

and creates the player object with the new syntax in line 1749:
https://github.com/Selz/plyr/blob/master/src/js/plyr.js#L1749

even referring to the git of the new API on line before in the comment....

[2016-10-03 10:34] thanhtu90 commented on #85
dear mina64 ,
I Had the same issues , could you please send me your solution too. Thank you a lot.

[2016-10-03 10:49] mina64 commented on #85
Sure, Just sent it! Please check your email :)

Have a great time!

[2016-10-03 11:07] thanhtu90 commented on #85
I got it, but I can't find the direct link from vimeo anymore, do you have solution to work around ?

[2016-10-03 11:13] mina64 commented on #85
Vimeo Direct Links in this file:
vimeovast/examples/index.php

[2016-10-03 11:20] thanhtu90 commented on #85
I mean vimeo link from my vimeo account on https://vimeo.com/user57411025/videos

[2016-10-03 11:24] mina64 commented on #85
Open that index.php mentioned in my earlier comment, you will find those links in line #33 and #34 :)

[2016-10-03 11:26] mina64 commented on #85
oh I got you, see dear, Vimeo doesn't allow you to customize their player or use 3rd party player, instead they provide you Video Direct Link that you can use them in 3rd party player. Like what I have done. so if you want to embed your vimeo videos, just login to your vimeo account and click on the desired videos and the go to Settings and then click on Video Files or Files and find Direct Links

[2016-10-04 02:28] thanhtu90 commented on #85
Thanks mate, but vimeo provide Video Direct Link for Pro User only. Anyway thank you for your help.

[2016-10-05 18:50] jrglass commented on #71
Having the same issue. Has this been resolved or is there a fix?

I'm also seeing a few errors in the console:

VIDEOJS: ERROR: The "Vimeo" tech is undefined. Skipped browser support check for that tech
VIDEOJS: ERROR: (CODE:4 MEDIA_ERR_SRC_NOT_SUPPORTED) No compatible source was found for this media. e {code: 4, message: "No compatible source was found for this media."}

I'm just using the Vimeo.

[2016-10-05 20:53] jrglass commented on #69
Having the same issue.
Tried to use package.jason from the videojs-youtube directory and it failed.

Says this fails on my system:
`mkdirp dist && cp src/Youtube.js dist/Youtube.js && uglifyjs src/Youtube.js -o dist/Youtube.min.js`

Any way to get the correct build file for the Vimeo plugin so it works correctly?
Do I actually need to build it or can I roll with Vimeo.js that's in src folder?

[2016-10-06 00:20] jrglass opened #91 "Can't build with npm - Vimeo not working"
Setup Vimeo <video> script as described but I don't have the Vimeo.min.js file as I can't run `npm run build` to create it.

Using just Vimeo.js, I'm seeing an error in the console (attached).

Any ideas on how to fix this issue or get the build script to run?

![screen shot 2016-10-05 at 6 19 18 pm](https://cloud.githubusercontent.com/assets/5082721/19136257/6297188e-8b28-11e6-8294-04258494dbe5.p

[2016-10-06 00:24] jrglass commented on #91
Tried running `npm run build` again and got this error: `missing script: build`.
Log file attached.

Any ideas on how to fix this or get a new build script?

[npm-debug.log.txt](https://github.com/videojs/videojs-vimeo/files/512582/npm-debug.log.txt)

[2016-10-08 02:35] joelstransky commented on #74
This is a big issue when using no-conflict jquery.
You should probably use a non-jquery ajax request. http://youmightnotneedjquery.com/#request
In the mean time, anyone have an idea how to fix this?

[2016-10-08 16:06] jbourassa opened #92 "Migration to Vimeo Player API — take two"
Hey,

I rewrote the Vimeo Tech using the Vimeo Player API. It's still not battle tested and somewhat of a work in progress, but I think I have the basic scenarios covered. Here it is: https://github.com/didacte/videojs-vimeo

Would you accept a PR that basically replaces the project with this source? Or would you recommend a way forward?

[2016-10-10 05:05] hiraylo commented on #74
A quick fix would be to replace the $with jQuery so that it reads like jQuery.getJSON

[2016-10-10 06:27] joelstransky commented on #74
That's an edit to source which makes upgrading impossible. The authors
should just fix it.

On Sun, Oct 9, 2016, 7:05 PM hiraylo <notifications@github.com> wrote:

[2016-10-10 06:31] janxalot commented on #74
Agree 100%!

[2016-10-10 21:24] jrglass commented on #92
@jbourassa, couldn't add an issue on the https://github.com/didacte/videojs-vimeo/issues page...

Thanks for whipping this new vimeo/video.js script up. I've gone ahead and implemented on our beta site as the old vimeo plugin never seemed to work. This one works great except for a few issues I've seen.

In the vimeo example, as compered with the youtube example (with youtube plugin for video.js) I

[2016-10-10 21:31] jrglass commented on #91
Works with the updated vimeo plugin via #92.

[2016-10-10 21:31] #91 closed

[2016-10-10 21:59] jbourassa commented on #92
Hey @jrglass

Any idea why? I can add issues and I see in the config page that they're enabled.

Which browser are you using? It's decently fast for me, here's a gif if it happening real time:
![fast vimeo](https://cloud.githubusercontent.com/assets/224311/19252073/12f7f554-8f43-11e6-8ab6-e6914cb20761.gif)

You really are interacting with the real vimeo player at this point, we're not intercepting

[2016-10-11 16:45] jrglass commented on #92
On Google Chrome for Mac and still seeing a delay. On safari for mac I have to click the play button twice. It's definitely slower than a normal video embed.

The only reason I would use the vimeo plugin is to get Google DFP ads to play before it. Otherwise I would just use a normal vimeo embed. I know that the Google IMA plugin works in tandem with [videojs-contrib-ads](https://github.com/videojs

[2016-10-11 17:06] gkatsev commented on #92
I think a rewrite is just fine. And it seems like you used our plugin generator which is great.
Unless someone from @videojs/core-committers has any objections, a PR for the re-write would be awesome.
We also try and give commit access to users who make meaningful contributions to a project and this would probably qualify.

[2016-10-11 19:03] louim commented on #92
@jrglass @jbourassa The lag you are seeing on video start is definitely related to the ad(s) system(s). I tried playing the video on the example you posted with an ad blocker and the video starts immediately. Playing it without an ad blocker I get the 1-2 sec lag you mentioned.

My guess is that it tries to load ads before the video starts, and after erroring on `ERROR: TypeError: this.tech_[a] is

[2016-10-11 19:23] jrglass commented on #92
@louim, that would make sense.

Have to look into how I can add the ads in with the vimeo videos sans error.
If anyone has any ideas let me know.

[2016-10-11 22:45] jbourassa commented on #92
@jrglass I just pushed a few fixes, try it out, you may have success with Google IMA plugin

[2016-10-11 23:05] jrglass commented on #92
@jbourassa, just the `dist/vimeojs-vimeo.js` file?

[2016-10-11 23:05] jbourassa commented on #92
@jrglass Yes.

[2016-10-11 23:08] jrglass commented on #92
@jbourassa, you, my friend, are a god.
Works like a charm: [http://beta.freeskier.com/videos/team-ride-park-city-goes-bang-2015-16-season-finale](http://beta.freeskier.com/videos/team-ride-park-city-goes-bang-2015-16-season-finale)

Where do I donate the beer?

[2016-10-11 23:19] jbourassa commented on #92
Awh, just pass it along; help a fellow developer when you get the chance. Cheers!

[2016-10-12 02:58] jrglass commented on #92
@jbourassa, finding that vimeo won't play on mobile/tablt. You can't click on the controls as if there's some transparent layer blocking the them. In "inspect" mode on chrome, I can sorta click a sliver of the very bottom of the play button. Can't get it to work at all on actual device. Very odd...

Also, I get a "no compatible source was found for this media" error every once and a while. Not sur

[2016-10-12 09:17] jbourassa commented on #92
Mobile devices is (obviously) a priority for me as well so I'll look into it.

I experienced the other issue when trying your demo but couldn't reproduce it in a more vanilla scenario, so we'll see.

[2016-10-12 09:38] jbourassa commented on #92
Actually, the standalone demo is working on iOS but not yours. I'm not sure what it is but it is not a priority for me to make it work w/ Google IMA. Let me know if you have more details or figure out what's not working.

Cheers,

[2016-10-12 15:11] jrglass commented on #92
@jbourassa totally understandable. Going to roll back to a non-IMA setup for Vimeo plugin and test out to see what it produces. Keep you posted.

[2016-10-12 15:21] jrglass commented on #92
@jbourassa, totally works fine when I remove Google IMA setup from the player.

Example: http://beta.freeskier.com/videos/team-ride-park-city-goes-bang-2015-16-season-finale

Going to look a bit further into the issue as IMA must be applying some sort of layer to mobile version that is bigger than the actual player so you can't click the play button.

[2016-10-13 15:01] jrglass commented on #92
@jbourassa, couldn't figure out the mobile issue. Haven't had much time. So I've gone ahead and just turned off ads on tablet/mobile and have them only running on desktop for now. Works great with this setup. But definitely losing a lot of potential impressions as majority of traffic is mobile.

Anyways, when I find some time, I'll look deeper. Let me know if you have any insights.

[2016-10-21 03:46] cronicryo opened #93 "Changing source to a new vimeo link"
i have a gallery view that i was trying to have one video player and set dynamically
went through the source code and found that **src** and **setSrc** were doing nothing
with some digging i changed the src function to

[code]
is there a reason why this wasnt implemented at all?

the setSrc has an if at the top to always just return
also trying to sift through it it doesnt seem like it would work

[2016-11-10 22:18] mrtag23 commented on #73
@craigstar @Magiweb thanks guys for posting the solution! saved me a lot of time, I wonder it autoplay stopped working only for me or it is a effect of patched code?

[2016-11-11 05:39] x09326 opened #94 "About the old version filename and main file"
Hi, I'm going to host this lib on [cdnjs](https://cdnjs.com).

First I am not sure which files should be added.
Is the file in `src` needed?
And second I want to confirm the file `Vimeo.js` in the latest version which is same as the file `media.vimeo.js` in v1.0.2 or not.
Please help me solve it, thanks.
https://github.com/cdnjs/cdnjs/pull/9565

[2016-11-30 15:59] Migueeeeel commented on #71
Hi. Just came across the same problem, works great on local windows 10 machine, but in the server (unix) doesn't work, gives the same error as jrglass.

[2017-01-10 13:45] samhibberd opened #97 "Hide Vimeo Controls"
Can you hide the Vimeo controls and just use the VideoJS controls? The ytControls parameter does not seem to work.

[2017-01-13 10:38] kamil7x commented on #68
This issue is very old, and if I remeber correctly, update worked. I am closing this issue.

[2017-01-13 10:38] #68 closed

[2017-01-19 21:52] charlesoconor opened #98 "Broken for single page applications"
There must be something wrong with the start up process. It can load as many videos as you want if it does it at the same time.   If you try to load another vimeo embed after the first round has finished it crashes every time.

![screen shot 2017-01-19 at 4 50 58 pm](https://cloud.githubusercontent.com/assets/8228660/22126880/8f895112-de67-11e6-9f40-5d0bc3018379.png)

[2017-01-25 12:59] daslicht opened #101 "Built Script Missing ?"
```the source and build it using npm run build```
Which built script are you referring to please?
There is none in the package.json
 https://github.com/videojs/videojs-vimeo/blob/master/package.json#L7

[2017-02-06 17:14] buzzyboy commented on #73
I tried the suggested solution @twig provided. But that doesn't seem to be working for me.

[2017-02-06 17:16] samhibberd commented on #81
+1

[2017-02-21 12:45] jasan-s opened #102 "Uncaught TypeError: Cannot read property 'play' of undefined. in Example"
`
TypeError: Cannot read property 'play' of undefined at K (http://127.0.0.1:8887/lib/video.js:48:118) at d.t.play (http://127.0.0.1:8887/lib/video.js:48:449) at d.u.Ta.p (http://127.0.0.1:8887/lib/video.js:83:210) at HTMLDivElement.e (http://127.0.0.1:8887/lib/video.js:10:334) at HTMLDivElement.e.U.e.U (http://127.0.0.1:8887/lib/video.js:4:338)
length
:
1
__proto__
:
Array(0)
`

[2017-03-08 20:27] justinlevi opened #103 "Is this tech still supported?"
With all the issues and PRs outstanding, just wondering if this tech is still being supported?

[2017-03-08 20:35] gkatsev commented on #103
Yes. Unfortunately, it does end up being prioritized below other things that are going on, particularly, with the video.js 6.0 update that is happening soon. Any help is appreciated.
Though, we're probably going to start with merging in this PR https://github.com/videojs/videojs-vimeo/pull/95

[2017-03-27 09:00] marinamat76 commented on #85
HI @mina64 !

Could you share your code with me too?
My email is marinamat76 AT gmail.com

Thank you!

[2017-03-29 16:36] mina64 commented on #85
@marinamat76  Sure,  I am going to send now. Hold on please.

[2017-03-29 16:40] mina64 commented on #85
Sorry gmail is not allowing me to send that attachment, because it contains js file so I am going to send you through wetransfer.com, once you got it please confirm. Thanks

[2017-03-30 13:18] marinamat76 commented on #85
Thank you very much,
but unfortunately I have'nt received anything by wetransfer.com

[2017-03-31 12:10] mina64 commented on #85
Please check your email again now and confirm! Thanks

[2017-03-31 12:40] marinamat76 commented on #85
Thank you,
now i have received!

Marina.

[2017-04-07 20:30] seabasss opened #105 "Work with playlist?"
Hey,

I can't get this to work with the playlist plugin. The video plays, but when skipping to another track the vimeo keeps playing in the background. Regular movie files and youtube videos work properly but not vimeo.

Any ideas? Thanks!

[2017-04-14 05:31] DiegoGallegos4 commented on #103
Any news about merging that PR?

[2017-04-27 20:12] dchristof commented on #85
@mina64 can you please share your code with me also (dchristof AT gmail.com? I am about to upgrade my vimeo account from PLUS to PRO just to be able to get the direct mp4 link of the video file so that I can use it on my site with the videojs vimeo plugin and vast ads. If any of you has a direct mp4 link please post it (or send it to me) so that I can test it to see if ads get displayed before I u

[2017-05-05 19:11] ShinJii89 commented on #103
When I want to play vimeo video I have error in console -> "Blocked „https://vimeo.com/api/v2/video/null.json?_=1494011215612&callback=jQuery21409546434388762466_1494011215611&format=json” because of incompatibility type MIME (X-Content-Type-Options: nosniff)." wtf?

VideoJS -> 5.19.2
This plugin -> newest

Youtube plugin works correctly...

[2017-05-11 17:42] gkatsev commented on #69
The build should be fixed in master now.

[2017-05-11 17:42] #69 closed

[2017-05-11 17:43] gkatsev commented on #70
This shouldn't be a problem in master now. Unfortunately, the official vimeo API doesn't provide a way to hide their controls and use the videojs controls, so, we're stuck with the vimeo controls now.

[2017-05-11 17:43] #70 closed

[2017-05-11 17:44] gkatsev commented on #71
Should be working in master now. A new release will be coming shortly.

[2017-05-11 17:44] #71 closed

[2017-05-11 17:48] gkatsev commented on #72
It is working against master now.

[2017-05-11 17:48] #72 closed

[2017-05-11 17:48] gkatsev commented on #73
Shouldn't be a problem in master anymore.

[2017-05-11 17:48] #73 closed

[2017-05-11 17:49] gkatsev commented on #74
Should be fixed in master now.

[2017-05-11 17:49] #74 closed

[2017-05-11 17:51] prock13 commented on #72
What was the solution?

[2017-05-11 17:54] gkatsev commented on #75
This should be fixed in master now, though, there's a bug right now where if you switch away from vimeo tech, the videojs controls may still be hidden.

[2017-05-11 17:54] #75 closed

[2017-05-11 17:56] gkatsev commented on #77
This works in master now. Though, it doesn't yet accept the videojs player options for that. It should.

[2017-05-11 17:58] gkatsev commented on #79
This is fixed in master.

[2017-05-11 17:58] #79 closed

[2017-05-11 17:58] gkatsev commented on #81
ytControls are strictly for youtube.
Master has fixed various vimeo options.

[2017-05-11 17:58] #81 closed

[2017-05-11 17:58] gkatsev commented on #81
Here are the various options available: https://github.com/vimeo/player.js#embed-options

[2017-05-11 17:59] gkatsev commented on #82
We've updated to use the newest official vimeo API. Thanks.

[2017-05-11 17:59] #82 closed

[2017-05-11 17:59] gkatsev commented on #72
Update videojs and update to use vimeo's official player API.

[2017-05-11 18:00] gkatsev commented on #83
I don't think this will be happening anymore in master.

[2017-05-11 18:00] #83 closed

[2017-05-11 18:01] gkatsev commented on #86
Master is now using the official vimeo player API.

[2017-05-11 18:01] #86 closed

[2017-05-11 18:17] onigetoc commented on #82
Hi, i think you should change de Vimeo URL https to http.
Error:
[code]

[2017-05-11 18:23] gkatsev commented on #77
Nope, looks like that does work.

[2017-05-11 18:23] #77 closed

[2017-05-11 18:25] gkatsev commented on #82
We're using the native API and not doing anything like that ourselves. Injection of the CSS in the js might be causing CSP issues but otherwise, I would say it's something that vimeo is doing.

[2017-05-11 18:25] gkatsev commented on #92
This has been merged.

[2017-05-11 18:25] #92 closed

[2017-05-11 18:28] onigetoc commented on #82
There's a url inside the js file pointing to vimeo api with https
it mean that if you are on a non https server the plugin will not work.
I tryed it online and it give this error.
I tryed it on my local server and i have no error.

The only strange thing it's it load the Vimeo control bar.
but you may have changed the way to use it and i didn't read the vimeo.js doc yet.

[2017-05-11 18:30] gkatsev commented on #94
Hey, so, we're in the process of updating this plugin to use the official vimeo API. It'll also be published to npm and be available in the `dist/videojs-vimeo.js` file from that package. So, you could probably update it to use that format and update via npm updates. Some other videojs plugins are already working with that, I think, even video.js itself works that way now.

[2017-05-11 18:32] gkatsev commented on #82
Yes, unfortunately, vimeo doesn't provide a way to hide their control bar.

As for an http url, I'm not seeing any HTTP urls in the dist file.

[2017-05-11 18:33] gkatsev commented on #103
It's merged and updated but no release just yet.

[2017-05-11 18:33] #103 closed

[2017-05-11 18:34] onigetoc commented on #82
It may be tricky but look here.
http://www.cssplay.co.uk/menu/cssplay-vimeo-hide-control-bar.html

[2017-05-11 18:34] gkatsev commented on #102
I dont think this will be a problem anyway if you're using a new-enough videojs and latest master.

[2017-05-11 18:34] #102 closed

[2017-05-11 18:34] gkatsev commented on #101
Yes, it's been fixed in master.

[2017-05-11 18:34] #101 closed

[2017-05-11 18:34] gkatsev commented on #98
I think it's been fixed in master.

[2017-05-11 18:34] #98 closed

[2017-05-11 18:34] gkatsev commented on #97
ytControls is for the youtube tech, accidentally got pulled in.
Unfortunately, vimeo doesn't provide a way to hide their controls and just use the videojs controls.

[2017-05-11 18:34] #97 closed

[2017-05-11 18:35] gkatsev commented on #82
Yeah, I've seen that. I'm not sure we want to do that and it may be against vimeos TOS.

[2017-05-11 18:38] gkatsev commented on #78
Local example should be working now. I'll look into posting a working example on gh-pages once we get more progress on the plugin.

[2017-05-11 18:38] #78 closed

[2017-05-11 18:39] gkatsev commented on #65
Latest master works now.

[2017-05-11 18:39] #65 closed

[2017-05-11 18:40] gkatsev commented on #84
If you're using Video.js 5 and master, it should be working now.

[2017-05-11 18:40] #84 closed

[2017-05-11 18:42] gkatsev commented on #85
Master was just updated to support Video.js 5, this means that any of the VAST plugins for videojs should potentially work with it. I still think there might be some bugs that need to be ironed, but it's mostly there.

[2017-05-11 18:42] #85 closed

[2017-05-11 18:42] #94 closed

[2017-05-23 17:00] ZeroCC opened #108 "Uncaught TypeError"
I am getting an Uncaught type error, I am currently trying to get the base Vimeo example to work, I have added videojs-vimeo.js and as far as I can tell I have the video set up right. The _video is undefined in the videojs-vimeo.js file, I don't know if this is a bug or if I did something wrong.

![capture](https://cloud.githubusercontent.com/assets/6775068/26405073/c41364d2-4059-11e7-9eb7-e0febac

[2017-05-30 21:12] samueleastdev commented on #93
I think you can change the src by using loadVideo from the Vimeo api.
[code]

https://github.com/vimeo/player.js#loadvideoid-number-promisenumber-typeerrorpassworderrorerror

But not sure how to implement this?

[2017-06-02 16:57] lminarini commented on #85
@mina64 would you mind share the code with me too? My email is larissaminarini AT gmail.com

[2017-06-09 09:11] emilz0r commented on #97
So to clarify: this plugin is meant to display the vimeo player gui for controlling the video, and not the videojs player gui? Is there any plans to make it use the videojs gui?

[2017-07-13 15:53] daniplaninc opened #116 "Old code on npm"
The npm seems to have a version that doesn't work ($.getJSON not defined as referenced in #74  ) which was fixed in master (as per @gkatsev 's comment) but as far as I can see, not released. I tried downloading the source and building it myself, but I get the error Cannot find module `@vimeo/player`

Am I doing something wrong?

[2017-07-17 09:14] daniplaninc commented on #116
I managed to make it work by taking the latest .min JS from /dist and requiring that directly.

But it would be nice to be able to have this as a dependency through NPM instead..

[2017-07-25 11:31] lvl99 opened #118 "Support for video.js ^6 greatly appreciated"
Aside from the out-of-date NPM package, some work to support the newest version of video.js would be much appreciated.

I had to download the files directly from this repo instead of using NPM, had to install the `@vimeo/player` dependency after a console error complained it wasn't there, then had to downgrade to video.js v5.20.1 due to errors like it not being able to register as a component beca

[2017-07-27 03:56] krabsheva commented on #118
Had similar errors with the current video.js version. Removing the "registerComponent" line seems to get it working at least on a basic level.

On the minimized version, remove the text:
  p.registerComponent("Vimeo",y),

I'm not familiar with the inner workings of video.js or this plugin, so I don't know if there are other version issues.

[2017-09-09 22:00] jeter54 commented on #85
@mina64   will you please share the code with me as well.  My email is adam.reader@me.com THANKS

[2017-09-11 22:08] seabasss commented on #118
@krabsheva Thanks, removing that line got rid of one error. Now I get this error. Any fix or update for this? `TypeError: this.tech_[t] is not a function`

[2017-09-11 22:09] seabasss commented on #105
Bump :) Thanks!

[2017-09-13 11:27] extend1994 commented on #94
Hi @gkatsev @eXon @hendrathings
Sorry to bother you.
I am the current CDNJS member in charge of adding this lib. I tried to use `npm run build` to get `dist/Vimeo.min.js`, but nothing appeared. Is there any other way to get the file same as `dist/Vimeo.min.js`? Maybe minify `src/Vimeo.js` in v2.0.0 ~ v2.0.2 and `src/media.vimeo.js` in v1.0.2? Thank you!

[2017-09-26 06:47] santoshshinde2012 opened #122 "Uncaught Error: Illegal component, "Vimeo"; with updated videojs[6.2.5]"
I have used the updated version of [vimeo[v2.0.0]](https://github.com/videojs/videojs-vimeo/releases/tag/v2.0.0) and [youtube[2.0.8]](https://github.com/videojs/videojs-youtube/releases/tag/v2.0.8) with updated version of [videojs[6.2.5]](https://github.com/videojs/video.js/releases/tag/v6.2.5).

For me youtube is working fine but for vimeo its giving me error on console like,

`videojs.min.js:2 U

[2017-09-30 04:16] colecmc commented on #93
Has there been any updates to this? I have about 20 videos loading now and it would be great to switch the source instead.

[2017-09-30 04:33] colecmc commented on #105
This may be related to or a duplicate of [issue 93](https://github.com/videojs/videojs-vimeo/issues/93)

[2017-10-02 14:32] scher200 opened #124 "mute"
Hi @jbourassa, while trying to mute the video, i got stuck..
[code]
I just could not get this to work.

[2017-10-12 18:45] Yeine commented on #118
Remove this line:
Component.registerComponent('Vimeo', Vimeo);
And support for the 6+ works

[2017-10-25 06:27] GeyseR commented on #118
Here is an opened PR with added videojs 6.x compatibility: https://github.com/videojs/videojs-vimeo/pull/119

[2017-10-27 15:08] cmdobueno opened #126 "Dispose and reinitialize Fail"
Mistake.

[2017-10-27 15:10] #126 closed, assigned to nobody

[2017-11-22 04:44] extend1994 opened #127 "Built file for a CDN"
Hi
I am a member of cdnjs. There is a library request of this project https://github.com/cdnjs/cdnjs/issues/9524 and I am in charge of adding it.
Is it possible for you to build and publish files users need on git repo or npm?
Ask this because cdnjs don't build files for projects, just collect releases and put them on CDN :)

[2017-11-23 01:00] clucasm5312 opened #128 "Vimeo controls still visible, won't play after scrubbing"
Hi there

I can't quite get this to work properly. I'm working on a website https://sportnow.net
I'm getting the videos from Vimeo, but using video.js

I get the video.js controls (which is what I want) AND the vimeo controls. Also, I can scrub forward to a frame in the video, but it then won't play, regardless of using the vimeo or video.js controls.

I'm completely stuck.

<img width="1236" alt=

[2017-12-05 13:47] janshajansha commented on #122
Hello
For Video Js 6.3.3 I tried with the following in the Vimeo JS file.

I replaced the following code
`Component.registerComponent('Vimeo', Vimeo);
Tech.registerTech('Vimeo', Vimeo);`

with the following

`if (typeof videojs.registerTech !== 'undefined') {
  videojs.registerTech('Vimeo', Vimeo);
} else {
  videojs.registerComponent('Vimeo', Vimeo);
}`

If you try with the new version, you can u

[2017-12-06 15:52] santoshshinde2012 commented on #122
Thanks, I did already pull request for same to [here](https://github.com/videojs/videojs-vimeo/pull/123).

[2017-12-06 15:53] #122 closed, assigned to nobody

[2017-12-07 15:58] marzton commented on #85
@mina64 Would you please share the source code with me? I'm trying to integrate Vimeo/ DFP and am having some trouble. robertm@icdnet.com

[2017-12-19 13:07] dinony opened #132 "npm package"
Why not publish as npm package?

[2017-12-19 13:46] dinony opened #133 "Update to video.js >= 6"
The vimeo tech just works with < v6, an update to v6 would be great!

[2017-12-21 12:24] niralmodi commented on #85
can you please share code on niralmodi@gmail.com

[2017-12-28 17:27] wells opened #134 "Getting master branch to work with webpack"
For anyone else wondering how to get the master branch working with a webpack configuration, it is best to avoid trying to use the dist files.

First, install the master branch so you can enjoy the new Vimeo player:

[code]

You'll likely hit a `Can't resolve 'videojs-vimeo'` error with webpack at this point. To resolve import from the `src` folder:

[code]

Using current master also will avoid an

[2018-01-08 17:48] dinony commented on #134
Or just install my [PR](https://github.com/videojs/videojs-vimeo/pull/131) [fork](https://github.com/dinony/videojs-vimeo).

[2018-01-15 15:53] dinony opened #135 "Issue Duration"
I've recreated an issue [here](https://github.com/dinony/videojs-vimeo-issues).
I wasn't able to get the duration of a video, when loaded with videojs-vimeo tech.

[2018-01-15 16:23] dinony opened #136 "Issue change source"
I've recreated an issue [here](https://github.com/dinony/videojs-vimeo-issues).
I wasn't able to change the video source, when loaded with videojs-vimeo tech.

[2018-03-02 15:22] iAskStupidQuestions opened #138 "MPEG DASH Stream From Vimeo Source?"
Hello,

 Is it possible to do MPEG DASH stream using a Vimeo video as source?
Someone managed to do it for their Wordpress plugin as seen [here](https://foliovision.com/2016/12/vimeo-mpeg-dash-and-more)

 How can I implement the same thing to video.js?

EDIT: You can see [here ](https://static1.squarespace.com/static/507db320c4aabcfd22168d32/t/570c17cac6fc080fac19f158/1460410321300/Adaptive+Stream

[2018-05-30 08:41] pandu-49-zz opened #141 "How to embed viemo private videos with video js?"
I tried to use vimeo private video as a source for the video element. But this is not working. When I used any public vimeo video then it works well.

Below is the error message.

GET https://vimeo.com/api/oembed.json?url=https%3A%2F%2Fvimeo.com%2F217996500&url=https%3A%2F%2Fvimeo.com%2F217996500&byline=false&portrait=false&title=false 404 (Not Found)

Uncaught (in promise) Error: “https://vimeo.c

[2018-06-25 14:25] razvanioan commented on #133
And now an update to v7 would be great as well ...

[2018-06-28 12:50] AbeCole opened #143 "Current state of this library? Anyone have a working fork?"
Just wondering what the current state of this library is as I can't get anything to work.

I've tried using the latest version of this library with both the latest version of VideoJS (7.0.2) and an older version 5.2.0 (after reading in Issues that I should try an older version) - and can't seem to get either working.

I understand the repo hasn't been updated in over a year so not expecting it to

[2018-07-02 15:44] gkatsev commented on #143
The master branch sort of works, I think. There shouldn't be anything that would make it not work with 7.x beyond the dependency version in the package.json. However, I think there were some issues left to be fixed but I didn't have a chance to take a look at them, partially because I don't use it directly. The other issue is that vimeo's terms of service don't allow replacing the controls, so, th

[2018-09-21 16:41] Ravenna commented on #141
Same issue

[2018-10-15 13:51] vbetivu opened #145 "playbackRate issue!"
hi, i am using videojs together with vimeo plugin, when i try to set/change playbackRate i get this issue in my console
![image](https://user-images.githubusercontent.com/37940672/46954937-6d2ce580-d09a-11e8-9611-150e53c69811.png)
any help will be really appreciated.
thanks!

[2018-11-14 15:42] solonik1 commented on #141
Same issue

[2018-12-28 18:08] kgabalesvideomaker commented on #85
Hello, please share the code on katz@videomaker.com

[2019-01-03 09:45] sthiruna28 commented on #85
Hi, Can you please share the code. I am trying to integrate Vimeo with VAST and am having problems. Thanks. seannagari69 AT gmail.com

[2019-02-17 20:23] praznovskymartin commented on #85
Hi there, I have the same issue. Could you please share the code. Thanks praznovsky.martin AT gmail.com

[2019-02-28 03:11] intelligence0504 opened #146 "I can't use it."
![untitled](https://user-images.githubusercontent.com/41268734/53538663-88d1df00-3ac3-11e9-88d7-c1785b8a5229.png)

[2019-02-28 03:23] intelligence0504 opened #147 "how to prevent right click?"

[2019-03-19 17:02] benjaminenorton commented on #143
Hi all,
I have done some work to get this working without the Vimeo controls.  The challenge is that you have to use "background" mode to start the video without controls, then turn audio on.

Downside: Because the video has to start in order to get the audio activated, the "big play button" is not shown.

I also fixed problems with:
- adding the functions `playbackRate` and `seeking`
- adding opt

[2019-05-08 20:23] flavioescobar commented on #143
So... It's 2019 and still no updates to this plugin. It does NOT work at all with latest version of VideoJS, Does anyone have a working version that can share?

[2019-06-14 12:59] HariShankarS opened #149 "Having issue adding Captions"
The text tracks I am adding to the videojs player are not being displayed in the player.

I could add `remoteTextTrack` and I could see the cues being added to the Text track in the console, but for all the cues the `displayState` is showing as `undefined`, which is the reason the captions are not rendering. Couldn't understand why this is happening.

This is how I am adding :
[code]
This is the r

[2019-06-27 07:47] noesteijver opened #150 "Chrome gives double error"
Hello,

We've been using Video JS for a while now, combined with YouTube and Vimeo extensions.

Recently we noticed two errors in Chrome:

![2019-06-27 (2)](https://user-images.githubusercontent.com/10668469/60247182-71173580-98c0-11e9-8141-1247e7bd1b45.png)

In other browsers, like Firefox, this problem doesn't show up.

All the necessary files are loaded, so what could be the problem here?

Hope

[2019-07-11 20:04] balindenberg commented on #145
Hi @v1lad, did you ever end up fixing this? Experiencing the same currently.

[2019-08-27 17:42] sosubatomic commented on #85
@mina64 Would you mind sharing your code? michele AT sosubatomic.com

[2019-09-30 20:05] noesteijver commented on #150
Hi,

Is this repo still active?

I'm still hoping for an update so we can fix the problem.

Hope to hear from you, thanks in advance!
-Kevin

[2019-10-01 14:43] gkatsev commented on #150
Unfortunately, we don't really have the time to look at this repo. We'd be happy to have help in fixing it up. Unfortunately, last I checked, Vimeo forbids disabling their controls in the free version, which almost defeats the purpose of this plugin to have a unified UI with Video.js.

[2020-01-07 20:12] ghost opened #151 "Unlist this project from videojs plugin list since it doesn't work."
This plugin is unmaintained and does not work with the latest version. There isn't even a working npm package.

Having a non-working plugin in the main library plugin list is misleading.

[2020-01-18 21:34] TheConceptBoy commented on #150
So video.js boasts about this fantastic plugin support. Except it's useless because it's solely community driven and unless plugin devs sink in constant hours into supporting it without any backing from the devs? The whole reason I'm looking into video.js is because google comments it for it's wide video host support.

[2020-01-18 21:36] TheConceptBoy commented on #151
I'd say better off leaving it here since someone may update it.
I'd be happy to participate in a crowdfunding campaign to get this pos into working order again.

[2020-01-18 21:51] TheConceptBoy commented on #151
In the meantime, Would be great to know which version of Video.JS this plugin last worked for. Perhaps I can still use that legacy version.

[2020-01-20 13:02] samueleastdev commented on #151
Vimeo now provides direct links in mp4 and hls format for videos.

These can be used directly with the VideoJS player without a plugin. I know there will be other users cases to use the Vimeo plugin but thought it was worth noting.

[2020-01-20 13:43] phiter-monetizze commented on #151
@samueleastdev is that only for pro?

[2020-02-28 17:46] kevinfaveri commented on #151
Hi there guys!

Here at Mobiliza we have developed a hard fork for this plugin for supporting version 7.6.6 onwards: https://github.com/Mobiliza/videojs-vimeo

Hope it is useful.

[2020-04-02 05:16] thehiddennepali commented on #128
did you fixed this error, I also stuck with the same error

[2020-05-25 18:27] ghost commented on #151
I am using this plugin https://github.com/Mobiliza/videojs-vimeo right now, but the video gets not loaded properly. Sometimes it appears and sometimes not....

No errors in my console, so should work.

Hope someone could help me please.

[2020-07-25 16:57] Lapin commented on #151
@Nastypasty224 hey could you able to work any of those plugins somehow? none seems to be working atm

[2020-09-28 10:17] lewismalpas opened #152 "Adding Vimeo support to VideoJS"
Hi,

I'm hoping to use the plugin to extend VideoJS to support Vimeo URLs, from my reading it seems this plugin is no longer maintained and does not work with the latest release of VideoJS - Can anyone advise on how I can add support for Vimeo URLs (e.g https://vimeo.com/290702348)?

Is the only way to have a Vimeo Pro account which provides you with the MP4 links which I can then use directly wit

[2020-09-28 10:19] lewismalpas commented on #151
Thanks for this @samueleastdev, super helpful as this may be the solution I implement but unfortunately only available within Pro accounts which comes with an annual fee. Is this the only way to add Vimeo support to VideoJS or are you aware of any other solutions?

Thank you,
Lewis

[2020-09-29 16:36] gkatsev commented on #152
The main issue why it's not really maintained is because several years ago Vimeo changed their terms of usage to disallow disabling their controls and showing custom controls on top. Unless they've changed that, it's unlikely that we will spend the time to fix the plugin, especially since it definitely has less usage compared to the youtube plugin.

However, if someone fixes it, we'd be happy to m

[2020-09-29 16:37] gkatsev commented on #152
Looks like someone is maintaining a fork https://github.com/videojs/videojs-vimeo/issues/151#issuecomment-592646742

[2021-01-07 11:40] NavinAT opened #153 "Uncaught Error: Illegal component,"Vimeo"; techs must be registered using Tech.registerTech(), videoJs version 7.11.1"
I am using latest version of videojs, and version 3.0.0 for videojs-vimeo.js.

YouTube player is working fine but for vimeo getting an issue.
Please suggest a solution.

![image](https://user-images.githubusercontent.com/45414603/103887947-eb598480-5109-11eb-8eec-6c9e616939b6.png)

Here is my code:
[code]

[2021-01-08 12:41] NavinAT commented on #153
I got to see the same closed issue https://github.com/videojs/videojs-vimeo/issues/122

Done the changes which are mentioned in the above closed issue.

But getting another console error:

videojs-vimeo.js:194 Uncaught ReferenceError: volume is not defined
    at Vimeo.setVolume (videojs-vimeo.js:194)
    at video.min.js:19
    at l.<anonymous> (video.min.js:19)
    at l.e.ready (video.min.js:12)

[2021-01-11 08:53] NavinAT opened #154 "Uncaught ReferenceError: volume is not defined. videojs-vimeo"
I am using latest version of videojs for Vimeo videos- Video.js 7.11.1

YouTube is working fine but for Vimeo getting the below Error.

![image](https://user-images.githubusercontent.com/45414603/104160867-db96b480-5417-11eb-95af-22f381fb08a5.png)
Please suggest a solution.
Here's my code:
[code]

**Error:**
Uncaught ReferenceError: volume is not defined
    at Vimeo.setVolume (videojs-vimeo.js:19

[2021-01-11 08:54] NavinAT commented on #153
Created a separate issue for 'volume is not defined' error.

https://github.com/videojs/videojs-vimeo/issues/154

[2021-01-11 08:54] #153 closed, assigned to nobody

[2021-04-25 00:00] ehosgor commented on #85
Hello, please share the code on engin.hosgor@gmail.com

[2021-04-26 00:37] marzton commented on #85
Hello,

I no longer have access to that particular code. Ever since Covid, my
employer succumbed and sold the business. I was laid off Christmas 2020.

Achieving a successful implementation of a pre, post, mid roll ad greatly
relied on the particular DFP line item ad set up. They have a VAST test
which I utilized for set up and debugging. As far as targeting a specific
video, I fed Google many par

[2021-05-11 09:49] prashantraval91185 commented on #15
Can someone help me to resolve the issue when I try to switch between youtube and Vimeo or vice versa, play both videos at the same time, that means iframe wrapper div not replacing its append?

[2021-05-11 09:51] prashantraval91185 opened #155 "Issue switching between youtube and vimeo using videojs-vimeo and videojs-youtube plugins"
Can someone help me to resolve the issue when I try to switch between youtube and Vimeo or vice versa, play both videos at the same time, that means iframe wrapper div not replacing its append?

[2022-01-13 12:40] mkoehler2911 commented on #133
any updates here?

[2022-09-26 14:32] DeveL-oz commented on #151
Hi, is this solution still working? Video won't start..

[2022-10-08 15:23] #145 closed, assigned to nobody